#sec1 {
  background: url("../img/sake/s1-bg.jpg") center bottom no-repeat;
  background-size: cover;
  min-height: 818px;
  position: relative;
}
#sec1:before {
  content: url("../img/sake/s1-deco.png");
  position: absolute;
  top: 217px;
  left: calc(50% + 58px);
}
#sec1 h2 {
  position: absolute;
  z-index: 9;
  left: 169px;
  top: -100px;
}
#sec1 .txt {
  padding-top: 87px;
  padding-left: 469px;
  padding-right: 20px;
}
#sec2 {
  background: url("../img/sake/s2-bg.jpg") center top no-repeat;
}
#sec2 h2 {
  text-align: center;
  padding: 99px 0 45px;
}
#sec2 .set1 {
  position: relative;
}
#sec2 .set1 h3 {
  padding-left: 38px;
  position: relative;
  z-index: 2;
}
#sec2 .set1 .txt {
  padding-left: 50px;
  width: 310px;
  position: relative;
  z-index: 2;
  padding-top: 41px;
  margin-bottom: -13px;
}
#sec2 .set1 .photo {
  position: absolute;
  top: -22px;
  left: 301px;
}
#sec2 .set2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 66px;
}
#sec2 .set2 .text {
  width: 452px;
}
#sec2 .set2 .text h3 {
  padding-left: 171px;
}
#sec2 .set2 .text dl {
  padding-left: 48px;
  padding-top: 53px;
}
#sec2 .set2 .text dl dt {
  font-size: 32px;
}
#sec2 .set2 .text dl dd {
  padding-top: 11px;
  font-size: 30px;
  color: #b51e23;
}
#sec2 .set2 .text dl dd span {
  font-size: 20px;
}
#sec2 .set2 .text .txt {
  padding: 12px 0 0 47px;
}
#sec2 .set2 .photo {
  padding-top: 72px;
}
#sec3 {
  background: url("../img/sake/s3-bg.jpg") center bottom no-repeat;
}
#sec3 h2 {
  text-align: center;
  padding: 27px 0 121px;
}
#sec3 .set1 {
  position: relative;
  color: #fff;
}
#sec3 .set1:before {
  content: url("../img/sake/s3-bg-img.jpg");
  position: absolute;
  top: -98px;
  left: calc(50% - 600px);
  z-index: 0;
}
#sec3 .set1 h3 {
  padding-left: 569px;
}
#sec3 .set1 .txt {
  padding-left: 571px;
  padding-bottom: 93px;
  position: relative;
  z-index: 1;
  padding-top: 38px;
}
#sec3 .set2 {
  position: relative;
}
#sec3 .set2 h3 {
  padding-top: 51px;
  padding-left: 126px;
}
#sec3 .set2 dl {
  padding-top: 54px;
  margin-left: -5px;
  letter-spacing: 0.22em;
}
#sec3 .set2 dl dt {
  font-size: 32px;
}
#sec3 .set2 dl dd {
  padding-top: 12px;
  font-size: 30px;
  padding-left: 3px;
  color: #b51e23;
}
#sec3 .set2 dl dd span {
  font-size: 20px;
}
#sec3 .set2 .photo {
  position: absolute;
  top: -21px;
  left: 450px;
}
#sec3 .set2 .txt {
  width: 410px;
  padding: 22px 0 70px 1px;
}
#sec3 .set2 .btn {
  text-align: center;
  padding-bottom: 99px;
}
#sec4 {
  background: url("../img/shared/bg-footer.jpg");
  position: relative;
  color: #fff;
}
#sec4:before {
  content: '';
  background: url("../img/sake/s4-bg-img.png");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(50% - 180px);
}
#sec4:after {
  content: url("../img/sake/s4-deco.png");
  position: absolute;
  top: 40px;
  left: calc(50% - 797px);
}
#sec4 h2 {
  padding-top: 123px;
}
#sec4 .txt {
  width: 410px;
  padding: 46px 0 29px;
}
#sec4 .photo {
  position: absolute;
  left: 284px;
  bottom: -50px;
  z-index: 1;
}
#sec4 .btn {
  padding-bottom: 127px;
  position: relative;
  z-index: 2;
}
#sec5 {
  position: relative;
}
#sec5:before {
  content: url("../img/sake/s5-deco-1.png");
  position: absolute;
  top: 0;
  left: calc(50% - 900px);
}
#sec5:after {
  content: url("../img/sake/s5-deco-2.png");
  position: absolute;
  bottom: 0;
  left: calc(50% - 212px);
}
#sec5 .wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row-reverse;
}
#sec5 .wrap .photo {
  margin-left: -130px;
  padding-top: 45px;
  padding-bottom: 130px;
  width: 630px;
}
#sec5 .wrap .text {
  width: 500px;
}
#sec5 .wrap .text h2 {
  padding-top: 167px;
}
#sec5 .wrap .text .txt {
  text-align: center;
  padding-right: 40px;
  padding-top: 25px;
}
#sec6 {
  position: relative;
  background: url("../img/course/s6-bga.png");
}
#sec6:before {
  content: url("../img/sake/s6-deco-1.png");
  position: absolute;
  top: 123px;
  left: calc(50% - 409px);
}
#sec6:after {
  content: url("../img/sake/s6-deco-2.png");
  position: absolute;
  top: 67px;
  left: calc(50% + 188px);
}
#sec6 h2 {
  text-align: center;
  padding: 97px 0 18px;
}
#sec6 .note {
  text-align: center;
  padding-bottom: 39px;
}
#sec6 .content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding-bottom: 72px;
}
#sec6 .content > div {
  width: 320px;
}
#sec6 .item {
  padding-bottom: 17px;
}
#sec6 .item .mb0 {
  margin-bottom: 0 !important;
}
#sec6 .item h3 {
  text-align: center;
  color: #fff;
  background: url("../img/sake/s6-bg-h3.png");
  line-height: 62px;
  height: 60px;
  margin-bottom: 12px;
}
#sec6 .item h4 {
  text-align: center;
  color: #fff;
  background: url("../img/sake/s6-bg-h4.png");
  line-height: 40px;
  height: 40px;
  margin-bottom: 12px;
}
#sec6 .item dl {
  display: table;
  width: 100%;
  border-bottom: 1px solid #876b3a;
  padding-bottom: 12px;
  margin-bottom: 14px;
  line-height: 27px;
}
#sec6 .item dl dt {
  display: table-cell;
  padding-left: 10px;
  letter-spacing: 0;
}
#sec6 .item dl dd {
  display: table-cell;
  text-align: right;
  color: #b51e23;
  padding-right: 8px;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1800px) {
  #sec5:before {
    left: 0;
  }
  #sec5:after {
    left: auto;
    right: 0;
  }
}